<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('../../template/doc_head.html')() %>
</head>
<body>
  <div class="contanier">
    <div class="contanier-inner">
      <%= require('../../template/header.html')() %>
      <div class="content">
        <section class="section-plist-break">
          <div class="section-th"><span>Title</span></div>
          <div class="section-plist__body">
            <% for( let index = 0; index < 4; index++ ) { %>
              <div class="list-item">
                <img src="https://dummyimage.com/1200x200&text=1" alt="">
              </div>
            <% } %>
          </div>
        </section>
        <%= require('../../template/section_plst.html')() %>
      </div>    
      <%= require('../../template/footer.html')() %>
    </div>
  </div>
  <%= require('../../template/script.html')() %>
</body>
</html>