<div class="layout-header">
  <div class="layout-header__logo">
    <img src="/assets/logo.png" />
  </div>
  <div class="layout-header__nav">
    <a class="nav-item" href="index.html">首页</a>
    <a class="nav-item" href="list.html">列表</a>
    <a class="nav-item" href="pay.html">充值中心</a>
    <a class="nav-item" href="about.html">关于我们</a>
  </div>
  <div class="layout-header__sub">
    <a class="sub-item" href="login.html">登录</a>
    <a class="sub-item" href="register.html">注册</a>
  </div>
</div>