/*reset.css*/
body,h1,h2,h3,h4,blockquote,p,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.75 \5b8b\4f53,arial,sans-serif}
button,input,select,textarea,h1,h2,h3,h4{font-size:100%}
input, button, select, textarea {outline:none;}
body{color:#333;}
body, button, input, select, textarea,option{font-family: Microsoft Yahei, PingFangSC-Regular,  arial, sans-serif; }
select,option{cursor:pointer;}
em,i{font-style:normal}
ol,ul{list-style:none;list-style-position:outside;}
img,fieldset{border:0;vertical-align:middle}
table{border-collapse:collapse;}
a{color:#333;text-decoration:none;outline:0}
a:hover{color:#f70;text-decoration:none}
.fl{float:left;}
.fr{float:right;}
.spanclass{display:none}
img{vertical-align:top}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.clear{font-size:0;line-height:0;height:0;overflow:hidden;clear:both;visibility:hidden}

.hide{display:none;}
.ohide{opacity: 0; z-index:0;}
.vhide{visibility:hidden;}